flows.json
[{"id":"43822583.e5e77c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3f3d32e1.ec18de","type":"ui_form","z":"43822583.e5e77c","name":"","label":"","group":"667e5aa8.8e3934","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":230,"y":120,"wires":[["e39a1b71.954138","3d57cfb3.bdf2b"]]},{"id":"e39a1b71.954138","type":"debug","z":"43822583.e5e77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":180,"wires":[]},{"id":"3d57cfb3.bdf2b","type":"function","z":"43822583.e5e77c","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Email:msg.payload.email,\n    password:msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":120,"wires":[["86a23b21.a601f8"]]},{"id":"86a23b21.a601f8","type":"cloudant out","z":"43822583.e5e77c","name":"sample","cloudant":"","database":"sample","service":"node-red-qzrlt-2020--cloudant-1597403213373-57577","payonly":true,"operation":"insert","x":660,"y":120,"wires":[]},{"id":"125aaff6.40a98","type":"ui_form","z":"43822583.e5e77c","name":"","label":"","group":"6305a3b9.5a94bc","order":0,"width":0,"height":0,"options":[{"label":"enter email","value":"email","type":"email","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":400,"wires":[["fb9284f.dea7878"]]},{"id":"fb9284f.dea7878","type":"function","z":"43822583.e5e77c","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":400,"wires":[["63f291cf.0af54"]]},{"id":"63f291cf.0af54","type":"function","z":"43822583.e5e77c","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":400,"wires":[["b0d2fc7.218c8"]]},{"id":"b0d2fc7.218c8","type":"cloudant in","z":"43822583.e5e77c","name":"cloudant","cloudant":"","database":"sample","service":"node-red-qzrlt-2020--cloudant-1597403213373-57577","search":"_idx_","design":"user","index":"user","x":600,"y":400,"wires":[["22933dff.5646e2"]]},{"id":"22933dff.5646e2","type":"function","z":"43822583.e5e77c","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":400,"wires":[["c09d964e.0d51c8"]]},{"id":"c09d964e.0d51c8","type":"ui_text","z":"43822583.e5e77c","group":"6305a3b9.5a94bc","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":400,"wires":[]},{"id":"f619c9b1.a580b8","type":"ui_form","z":"43822583.e5e77c","name":"","label":"","group":"bbe68889.a6c518","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":540,"wires":[["a098ba41.000708"]]},{"id":"a098ba41.000708","type":"function","z":"43822583.e5e77c","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":540,"wires":[["c95cc050.859b9"]]},{"id":"c95cc050.859b9","type":"watson-conversation-v1","z":"43822583.e5e77c","name":"","workspaceid":"597d678c-d9c5-45ae-ae95-beffad99c3c3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/bb81987b-3433-4509-9f2e-80f76ad53c42","timeout":"","optout-learning":false,"x":550,"y":540,"wires":[["bc0c573b.4b66a8","87b66ac3.f03dd8"]]},{"id":"bc0c573b.4b66a8","type":"debug","z":"43822583.e5e77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":620,"wires":[]},{"id":"87b66ac3.f03dd8","type":"function","z":"43822583.e5e77c","name":"","func":"msg.payload=msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":540,"wires":[["9657349f.0d5f68","6af20206.f2a90c"]]},{"id":"9657349f.0d5f68","type":"ui_text","z":"43822583.e5e77c","group":"bbe68889.a6c518","order":1,"width":"6","height":"5","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":540,"wires":[]},{"id":"6af20206.f2a90c","type":"ui_audio","z":"43822583.e5e77c","name":"","group":"bbe68889.a6c518","voice":"","always":"","x":960,"y":600,"wires":[]},{"id":"667e5aa8.8e3934","type":"ui_group","z":"","name":"reg form","tab":"54db41df.422b5","order":1,"disp":true,"width":"6","collapse":false},{"id":"6305a3b9.5a94bc","type":"ui_group","z":"","name":"login","tab":"26b9b1aa.6466ae","order":1,"disp":true,"width":"6","collapse":false},{"id":"bbe68889.a6c518","type":"ui_group","z":"","name":"bot","tab":"1d0cb59d.12162a","order":1,"disp":true,"width":"6","collapse":false},{"id":"54db41df.422b5","type":"ui_tab","z":"","name":"registration form","icon":"dashboard","disabled":false,"hidden":false},{"id":"26b9b1aa.6466ae","type":"ui_tab","z":"","name":"login form","icon":"dashboard","disabled":false,"hidden":false},{"id":"1d0cb59d.12162a","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false}]